@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
#whatilooklike {
  display: block;
  width: 20rem;
  margin: 0 auto; }

#whoiam {
  text-align: center; }
  #whoiam h1 {
    font-family: Nunito;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    color: #854f37; }
  #whoiam p {
    font-size: 1rem;
    font-family: Merriweather;
    max-width: 35rem;
    margin: 0 auto;
    line-height: 2;
    padding: 0 2rem; }
  #whoiam a, #whoiam strong {
    color: #854f37;
    padding: 0.5rem;
    background-color: #fafafa;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none; }

footer {
  text-align: center;
  margin-bottom: 5rem; }
  footer #social {
    margin-top: .5rem;
    margin-bottom: .5rem; }
    footer #social a {
      font-size: 2rem; }
      footer #social a:hover {
        color: #854f37;
        -webkit-transition: .5s ease all;
        -moz-transition: .5s ease all;
        -ms-transition: .5s ease all;
        -o-transition: .5s ease all;
        transition: .5s ease all; }
  footer a:hover {
    color: #854f37;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all; }
  footer #thisismine, footer a {
    display: inline-block;
    vertical-align: middle;
    color: #999;
    font-size: .8rem;
    margin-left: .2rem;
    margin-right: .2rem; }
